<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>农产品购物商城 -- 分类</title>
    <link rel="stylesheet" th:href="@{|${static}/css/fenlei.css|}">
</head>
<body>
<header class="aui-navBar aui-navBar-fixed">
    <div class="aui-center">
        <div class="aui-search-box">
            <i class="icon icon-search"></i>
            <input type="text" placeholder="搜索商品名称">
        </div>
    </div>
</header>

<div class="fenlei">
    <div class="aui-class-grids">
        <h2 style="text-align: center;">商品及服务分类</h2>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/shucai1.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">蔬菜
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/shuguo2.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">水果
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/tutechan1.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">土特产
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/rou.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">肉类
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/dan1.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">蛋类
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/nai1.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">奶类
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/mingsu1.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">民宿
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/lvyou2.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">旅游
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/laoren.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">养老
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/wenhua1.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">文化产业
            </div>
        </a>
        <a href="#" class="aui-class-grids-item">
            <div class="aui-class-grids-hd">
                <img th:src="@{|${static}/img/yingshi.jpg|}" alt="">
            </div>
            <div class="aui-class-grids-bd">影视服务
            </div>
        </a>
    </div>
    <div class="xiangxi">
        <h2 style="text-align: center;">详细商品</h2>
        <div class="aui-list-theme-box">
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shucai3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">各种水果搭配果篮实惠贴切5000g</h3>
                    <p><em>￥</em>25.31 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shucai4.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">100%天然生菜白菜2198g</h3>
                    <p><em>￥</em>15.81 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/rou.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">猪肉铺特惠促销装1998g</h3>
                    <p><em>￥</em>34.09 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shuguo3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">刘家峡草莓（送果篮）3345g</h3>
                    <p><em>￥</em>35.72 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shucai1.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">菠菜甩卖特惠秒杀3600g</h3>
                    <p><em>￥</em>12.81 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shuguo5.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">天然无公害水果美味可口1000g</h3>
                    <p><em>￥</em>8.88 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/dan1.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">100%农家土鸡蛋质量保证2000g</h3>
                    <p><em>￥</em>21.35 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/dan3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">王阿婆特色茶叶蛋包邮2000g</h3>
                    <p><em>￥</em>23.98 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/nai3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">无添加上等学生奶300g</h3>
                    <p><em>￥</em>2.31 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shucai2.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">100%天然蔬菜（混合）2198g</h3>
                    <p><em>￥</em>15.81 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/rou3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">猪肉铺特惠促销装猪头肉1998g</h3>
                    <p><em>￥</em>34.09 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shuguo1.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">美味精致水果沙拉3345g</h3>
                    <p><em>￥</em>35.72 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shucai3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">各种水果搭配果篮实惠贴切5000g</h3>
                    <p><em>￥</em>25.31 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shucai4.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">100%天然生菜白菜2198g</h3>
                    <p><em>￥</em>15.81 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/rou.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">猪肉铺特惠促销装1998g</h3>
                    <p><em>￥</em>34.09 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shuguo3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">刘家峡草莓（送果篮）3345g</h3>
                    <p><em>￥</em>35.72 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shucai1.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">菠菜甩卖特惠秒杀3600g</h3>
                    <p><em>￥</em>12.81 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shuguo5.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">天然无公害水果美味可口1000g</h3>
                    <p><em>￥</em>8.88 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/dan1.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">100%农家土鸡蛋质量保证2000g</h3>
                    <p><em>￥</em>21.35 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/dan3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">王阿婆特色茶叶蛋包邮2000g</h3>
                    <p><em>￥</em>23.98 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/nai3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">无添加上等学生奶300g</h3>
                    <p><em>￥</em>2.31 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shucai2.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">100%天然蔬菜（混合）2198g</h3>
                    <p><em>￥</em>15.81 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/rou3.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">猪肉铺特惠促销装猪头肉1998g</h3>
                    <p><em>￥</em>34.09 <i class="icon icon-car"></i></p>
                </div>
            </a>
            <a href="xiangqing.html" class="aui-list-item b-line">
                <div class="aui-list-theme-img">
                    <img th:src="@{|${static}/img/shuguo1.jpg|}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">美味精致水果沙拉3345g</h3>
                    <p><em>￥</em>35.72 <i class="icon icon-car"></i></p>
                </div>
            </a>
        </div>
    </div>
</div>

<footer>
    <a th:href="@{/}"><img th:src="@{|${static}/img/spy-5.jpg|}" alt=""><span>首页</span></a>
    <a th:href="@{/category}"><img th:src="@{|${static}/img/fenlei.png|}" alt=""><span>分类</span></a>
    <a th:href="@{/cart}"><img th:src="@{|${static}/img/q4.png|}" alt=""><span>购物车</span></a>
    <a th:href="@{/homestay}"><img th:src="@{|${static}/img/q1.png|}" alt=""><span>特色民宿</span></a>
    <a th:href="@{/mine}"><img th:src="@{|${static}/img/q5.png|}" alt=""><span>我的</span></a>
</footer>

</body>
</html>
