<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/basic">
<head>
    <title>注册</title>
</head>
<body>

<section class="form_popup" layout:fragment="content">

    <div class="signup_form" id="signup_form">
        <div class="hd-lg">
            <img src="images/logo.png" alt="">
            <span>Register your Oren account</span>
        </div><!--hd-lg end-->
        <div class="user-account-pr">
            <form>
                <div class="input-sec mgb25">
                    <input type="text" name="username" placeholder="Username">
                    <label>Letters A-Z or a-z , Numbers 0-9 and Underscores _</label>
                </div>
                <div class="input-sec">
                    <input type="email" name="email" placeholder="Email address">
                </div>
                <div class="input-sec">
                    <input type="Password" name="password" placeholder="Password">
                </div>
                <div class="input-sec">
                    <input type="password" name="confirm-password" placeholder="Re-enter password">
                </div>
                <div class="input-sec flatpickr">
                    <input type="number" name="date" class="flatpickr-input" placeholder="Select Date..."
                           data-input>
                </div>
                <div class="chekbox-lg">
                    <ul>
                        <li>
                            <label>
                                <input type="radio" name="gender" value="Male">
                                <b class="checkmark"> </b>
                                <span>Male</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="gender" value="Female">
                                <b class="checkmark"> </b>
                                <span>Female</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="input-sec mb-0">
                    <button type="submit">Signup</button>
                </div><!--input-sec end-->
            </form>
            <div class="form-text">
                <p>By sIgning up you agree to Oren’s <a href="#" title="">Terms of Service</a> and <a href="#"
                                                                                                      title="">Privacy
                    Policy</a></p>
            </div>
        </div><!--user-account end--->
        <div class="fr-ps">
            <h1>Already have an account?<a href="login.html" title="" class="show_signup"> Login here.</a></h1>
        </div><!--fr-ps end-->
    </div><!--login end--->
    <script th:src="@{|${static}/js/flatpickr.js|}"></script>
    <script th:src="@{|${static}/js/script.js|}"></script>
</section><!--form_popup end-->

</body>
</html>
